In [1]:
# Login Form

In [12]:
import random

print('Welcome to Bailley!!')

name = input('Enter your name: ')

userid = input('Create your user id: ')

password = input('Create your password: ')

print(f'Hey!! {name}, You have successfully created your Account!!')

ans = input('Want to login hit Enter! ').lower()

if ans in ['','yes']:
    
    idd = input('Enter your id: ')
    pwd = input('Enter your password: ')
    
    if (idd == userid) and (pwd == password):
        print(f'Welcome!! {name}\nYou Have successfully Logged in!!')
        
    else:
        print('Incorrect Userid or Password!!')
        
        forget_ans = input('Want to forget userid or password!!(yes/no): ').lower()
        
        if forget_ans == 'yes':
            
            phone = input('Enter your Phone Number!! ')
            
            print('OTP has been sent to your registered mobile number!!')
            OTP = random.randint(1111,9999)
            
            print('Your OTP is: ',OTP)
            
            otp_ans = int(input('Enter your OTP: '))
            
            if otp_ans == OTP:
                execfile('login.py')
            else:
                print('Incorrect OTP') 
            
        else:
            print('Try again!!')
            
    
else:
    print('Thanks for creating your account!!')

Welcome to Bailley!!
Enter your name: komal mishra
Create your user id: komal@mishra
Create your password: komal@123
Hey!! komal mishra, You have successfully created your Account!!
Want to login hit Enter!
Enter your id: komal@mishra
Enter your password: jbvgfzdsxc
Incorrect Userid or Password!!
Want to forget userid or password!!(yes/no): yes
Enter your Phone Number!! 9898787654
OTP has been sent to your registered mobile number!!
Your OTP is:  9934
Enter your OTP: 9934
Welcome to Bailley!!
Enter your name: Komal Mishra
Create your user id: komal@mishra
Create your password: komal@123
Hey!! Komal Mishra, You have successfully created your Account!!
Want to login hit Enter!
Enter your id: komal@mishra
Enter your password: komal@123
Welcome!! Komal Mishra
You Have successfully Logged in!!

In [17]:
if 2==2:
    pass
else:
    print('No')

In [20]:
pass

# For Loop

In [22]:
# #loop:-
# for loop
# while loop
# infinite loop

In [23]:
# if else conditional programming


# loops:- flow control

In [24]:
for i in range(5):
    print('Hello Python')

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [25]:
# # syntax for loop


# for temp_var/iterator in datatype(list,set,dict,str,frozenset,tuple,range()):
#     code block

In [28]:
# list
import time

students = ['Mohan','karan','Ajay','Ravi','Lal']


for rahul in students:
    print(rahul)
    time.sleep(4)

Mohan
karan
Ajay
Ravi
Lal

In [31]:
print(students)

['Mohan', 'karan', 'Ajay', 'Ravi', 'Lal']

In [32]:
for student in students:
    print(student.upper())

MOHAN
KARAN
AJAY
RAVI
LAL

In [33]:
students

['Mohan', 'karan', 'Ajay', 'Ravi', 'Lal']

In [ ]:
for student in students:
    print(student.upper())

In [36]:
data = []

for i in students:
    data.append(i.upper())

In [37]:
print(data)

['MOHAN', 'KARAN', 'AJAY', 'RAVI', 'LAL']

In [38]:
print(students)

['Mohan', 'karan', 'Ajay', 'Ravi', 'Lal']

In [40]:
a = list('ABCDEFGH')
a

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [43]:
a = 'ola uber meta microsoft tata'

# b = ['@OLA','@UBER','@META'.....]

In [48]:
a = 'ola uber meta microsoft tata'
a = a.split(' ')
b = []

for i in a:
    b.append('@'+i.upper())
    
b

['@OLA', '@UBER', '@META', '@MICROSOFT', '@TATA']

In [49]:
# each data type ko iterate karke check karnge


# No:- int,float,complex,None,True
# yes:- List,tuple,str,set,frozenset,dict

In [51]:
a = 'Python is awesome'

for i in a:
    time.sleep(1)
    print(i)

P
y
t
h
o
n

KeyboardInterrupt:

In [63]:
a = 'Python is awesome'

for i in a:
    time.sleep(0.1)
    print(i,end='')

Python is awesome

In [64]:
# dict iterate

a = {'Name':'Ajay',
    'Class':12,
    'Age':23,
    'Address':'Noida',
    'Hobby':'Moye Moye'}

a

{'Name': 'Ajay',
 'Class': 12,
 'Age': 23,
 'Address': 'Noida',
 'Hobby': 'Moye Moye'}

In [65]:
list(a)

['Name', 'Class', 'Age', 'Address', 'Hobby']

In [66]:
for i in a:
    print(i)

Name
Class
Age
Address
Hobby

In [67]:
# values 

for i in a.values():
    print(i)

Ajay
12
23
Noida
Moye Moye

In [68]:
for j in a.items():
    print(j)

('Name', 'Ajay')
('Class', 12)
('Age', 23)
('Address', 'Noida')
('Hobby', 'Moye Moye')

In [69]:
a

{'Name': 'Ajay',
 'Class': 12,
 'Age': 23,
 'Address': 'Noida',
 'Hobby': 'Moye Moye'}

In [70]:
a['Hobby']

'Moye Moye'

In [76]:
for i in a:
    print(f'Key: {i} .... value: {a[i]}')

Key: Name .... value: Ajay
Key: Class .... value: 12
Key: Age .... value: 23
Key: Address .... value: Noida
Key: Hobby .... value: Moye Moye

In [77]:
# tuple

a = (12,34,3421,334,65,5342,5467)

for i in a:
    print(i)

12
34
3421
334
65
5342
5467

In [81]:
a = ('Java','Python','Mayank')

for element in a:
    print(element,end=' ')

Java Python Mayank

In [88]:
# set

a = {1,23,3213,345,4,34,3476,89}

for j in a:
    print(a)

{1, 34, 4, 345, 3213, 3476, 23, 89}
{1, 34, 4, 345, 3213, 3476, 23, 89}
{1, 34, 4, 345, 3213, 3476, 23, 89}
{1, 34, 4, 345, 3213, 3476, 23, 89}
{1, 34, 4, 345, 3213, 3476, 23, 89}
{1, 34, 4, 345, 3213, 3476, 23, 89}
{1, 34, 4, 345, 3213, 3476, 23, 89}
{1, 34, 4, 345, 3213, 3476, 23, 89}

In [89]:
# set

a = {1,23,3213,345,4,34,3476,89}

for j in a:
    print(j)

1
34
4
345
3213
3476
23
89

In [112]:
# set

a = list({1,23,3213,345,4,34,3476,89})

for j in a:
    print(a[random.randint(0,len(a)-1)])

3476
4
34
4
3213
23
1
345