In [1]:
a = {'Name':'Mohan','Age':12}

In [2]:
print(a)

{'Name': 'Mohan', 'Age': 12}

In [3]:
print(dir(a))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [4]:
dict_methods = ['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [5]:
print(dict_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [6]:
print(len(dict_methods))

11

In [7]:
a

{'Name': 'Mohan', 'Age': 12}

In [8]:
a.clear()

In [9]:
print(a)

{}

In [10]:
a = {'Bank1':123456,'Bank2':234567}

In [11]:
print(a)

{'Bank1': 123456, 'Bank2': 234567}

In [12]:
b = a

In [13]:
print(b)

{'Bank1': 123456, 'Bank2': 234567}

In [14]:
b.clear()

In [15]:
b

{}

In [16]:
a

{}

In [17]:
a = {'Bank1':123456,'Bank2':234567}

b = a.copy()

In [18]:
b

{'Bank1': 123456, 'Bank2': 234567}

In [19]:
a

{'Bank1': 123456, 'Bank2': 234567}

In [20]:
b['Bank3'] = 3456

In [21]:
b

{'Bank1': 123456, 'Bank2': 234567, 'Bank3': 3456}

In [22]:
a

{'Bank1': 123456, 'Bank2': 234567}

In [23]:
b

{'Bank1': 123456, 'Bank2': 234567, 'Bank3': 3456}

In [24]:
s = {}

s.fromkeys(b)

{'Bank1': None, 'Bank2': None, 'Bank3': None}

In [25]:
print(dict_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [26]:
a

{'Bank1': 123456, 'Bank2': 234567}

In [27]:
a.get('Bank2')

234567

In [29]:
a['Bank2'] = 2343454323456

In [30]:
a

{'Bank1': 123456, 'Bank2': 2343454323456}

In [33]:
a.get('Bank2')

2343454323456

In [36]:
a['Bankk2']

KeyError: 'Bankk2'

In [38]:
print(a.get('Bankk2'))

None

In [39]:
a['Bankk2']

KeyError: 'Bankk2'

In [40]:
print(a.get('Bankk2'))

None

In [41]:
a = {'Name':'Ajay',
    'Age':23,
    'Address':'Noida',
    'Phone':9875}

In [42]:
print(a)

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida', 'Phone': 9875}

In [43]:
print(dict_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [44]:
a.keys()

dict_keys(['Name', 'Age', 'Address', 'Phone'])

In [45]:
list(a)

['Name', 'Age', 'Address', 'Phone']

In [46]:
tuple(a)

('Name', 'Age', 'Address', 'Phone')

In [48]:
set(a)

{'Address', 'Age', 'Name', 'Phone'}

In [49]:
a

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida', 'Phone': 9875}

In [52]:
a.values()

dict_values(['Ajay', 23, 'Noida', 9875])

In [55]:
type((['Ajay', 23, 'Noida', 9875],))

tuple

In [56]:
a.items()

dict_items([('Name', 'Ajay'), ('Age', 23), ('Address', 'Noida'), ('Phone', 9875)])

In [57]:
a = {1:'Ajay',2:23,3:'Noida'}
a

{1: 'Ajay', 2: 23, 3: 'Noida'}

In [58]:
print(a.items())

dict_items([(1, 'Ajay'), (2, 23), (3, 'Noida')])

In [59]:
import pandas as pd

In [60]:
a = {'Name':['Ajay','Rohit','Mohit'],
    'Age':[12,23,34],
    'Address':['Noida']*3}

a

{'Name': ['Ajay', 'Rohit', 'Mohit'],
 'Age': [12, 23, 34],
 'Address': ['Noida', 'Noida', 'Noida']}

In [61]:
pd.DataFrame(a)

    Name  Age Address
0   Ajay   12   Noida
1  Rohit   23   Noida
2  Mohit   34   Noida

In [62]:
a.items()

dict_items([('Name', ['Ajay', 'Rohit', 'Mohit']), ('Age', [12, 23, 34]), ('Address', ['Noida', 'Noida', 'Noida'])])

In [63]:
print(dict_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [64]:
# 'pop', 'popitem', 'setdefault', 'update',

In [65]:
a = {'Name':'Ajay',
    'Age':23,
    'Address':'Noida',
    'Phone':9875}

In [66]:
a

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida', 'Phone': 9875}

In [67]:
a.pop('Age')

23

In [68]:
a

{'Name': 'Ajay', 'Address': 'Noida', 'Phone': 9875}

In [69]:
a.pop('AGE')

KeyError: 'AGE'

In [70]:
a

{'Name': 'Ajay', 'Address': 'Noida', 'Phone': 9875}

In [71]:
a.popitem()

('Phone', 9875)

In [72]:
a

{'Name': 'Ajay', 'Address': 'Noida'}

In [73]:
a.popitem()

('Address', 'Noida')

In [74]:
a

{'Name': 'Ajay'}

In [75]:
#  'setdefault', 'update',

In [76]:
a = {'Name':'Ajay',
    'Age':23,
    'Address':'Noida',
    'Phone':9875}

In [77]:
a

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida', 'Phone': 9875}

In [78]:
a['Bank'] = None

In [79]:
a

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida', 'Phone': 9875, 'Bank': None}

In [80]:
a.setdefault('class')

In [81]:
a

{'Name': 'Ajay',
 'Age': 23,
 'Address': 'Noida',
 'Phone': 9875,
 'Bank': None,
 'class': None}

In [82]:
a.setdefault('Kia',98987)

98987

In [83]:
a

{'Name': 'Ajay',
 'Age': 23,
 'Address': 'Noida',
 'Phone': 9875,
 'Bank': None,
 'class': None,
 'Kia': 98987}

In [84]:
a['Phone'] = 978987876

In [85]:
a

{'Name': 'Ajay',
 'Age': 23,
 'Address': 'Noida',
 'Phone': 978987876,
 'Bank': None,
 'class': None,
 'Kia': 98987}

In [89]:
print(a.setdefault('class',98))

None

In [90]:
a

{'Name': 'Ajay',
 'Age': 23,
 'Address': 'Noida',
 'Phone': 978987876,
 'Bank': None,
 'class': None,
 'Kia': 98987}

In [91]:
a.setdefault('Address','Delhi')

'Noida'

In [92]:
a

{'Name': 'Ajay',
 'Age': 23,
 'Address': 'Noida',
 'Phone': 978987876,
 'Bank': None,
 'class': None,
 'Kia': 98987}

In [93]:
a.setdefault({'Maruti':12,'Honda':23})

TypeError: unhashable type: 'dict'

In [94]:
# 'update',

In [97]:
a['Name','Age']

KeyError: ('Name', 'Age')

In [98]:
a

{'Name': 'Ajay',
 'Age': 23,
 'Address': 'Noida',
 'Phone': 978987876,
 'Bank': None,
 'class': None,
 'Kia': 98987}

In [99]:
a.update({'Age':12,'Phone':12345432345678})

In [100]:
a

{'Name': 'Ajay',
 'Age': 12,
 'Address': 'Noida',
 'Phone': 12345432345678,
 'Bank': None,
 'class': None,
 'Kia': 98987}

In [101]:
a.update({'Age':2334,'phone':87876})

In [102]:
a

{'Name': 'Ajay',
 'Age': 2334,
 'Address': 'Noida',
 'Phone': 12345432345678,
 'Bank': None,
 'class': None,
 'Kia': 98987,
 'phone': 87876}

In [103]:
a = {}

In [104]:
print(a)

{}

In [105]:
a.update({'Maruti':12,
         'Honda':87,
         'Kia':9876})

In [106]:
a

{'Maruti': 12, 'Honda': 87, 'Kia': 9876}

In [107]:
a.update({'Honda':44,'Kia':55})

In [108]:
a

{'Maruti': 12, 'Honda': 44, 'Kia': 55}

In [109]:
a

{'Maruti': 12, 'Honda': 44, 'Kia': 55}

In [110]:
a.items()

dict_items([('Maruti', 12), ('Honda', 44), ('Kia', 55)])

In [111]:
a

{'Maruti': 12, 'Honda': 44, 'Kia': 55}

In [112]:
a.update([('Maruti',900),   ('Tata',100),     ('Honda',567)])

In [113]:
a

{'Maruti': 900, 'Honda': 567, 'Kia': 55, 'Tata': 100}

In [114]:
a

{'Maruti': 900, 'Honda': 567, 'Kia': 55, 'Tata': 100}

In [115]:
a.update((('Maruti',9),   ('Tata',1),     ('Honda',5)))

In [116]:
a

{'Maruti': 9, 'Honda': 5, 'Kia': 55, 'Tata': 1}

In [117]:
a.update([['Maruti',900000000],   ['Tata',10000],     ['Honda',50000]])

In [118]:
a

{'Maruti': 900000000, 'Honda': 50000, 'Kia': 55, 'Tata': 10000}

In [119]:
a.update([{'Maruti':12,'kia':34}])

In [120]:
a

{'Maruti': 'kia', 'Honda': 50000, 'Kia': 55, 'Tata': 10000}

In [121]:
a.update({'Maruti':23})

In [122]:
a

{'Maruti': 23, 'Honda': 50000, 'Kia': 55, 'Tata': 10000}

In [123]:
a = {'Name':'Mohan'}
b = {'Age':23}
c = {'class':5}

In [124]:
print(a+b+c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [125]:
var_dict = {**a,**b,**c}

var_dict

{'Name': 'Mohan', 'Age': 23, 'class': 5}

In [126]:
sandeep = {**a,**b,**c}

In [127]:
sandeep

{'Name': 'Mohan', 'Age': 23, 'class': 5}

In [128]:
sandeep = {*a,*b,*c}

In [129]:
sandeep

{'Age', 'Name', 'class'}

In [130]:
print(type(sandeep))

<class 'set'>

In [131]:
raj = [**a,**b,**c]

SyntaxError: invalid syntax (533095343.py, line 1)

In [132]:
raj = [*a,*b,*c]

In [133]:
raj

['Name', 'Age', 'class']

In [136]:
var_dict

{'Name': 'Mohan', 'Age': 23, 'class': 5}

In [137]:
var_dict.keys()

dict_keys(['Name', 'Age', 'class'])

In [138]:
list(var_dict)

['Name', 'Age', 'class']

In [139]:
[*var_dict]

['Name', 'Age', 'class']

In [140]:
a['Namee'] = 'Mohan'

In [141]:
a

{'Name': 'Mohan', 'Namee': 'Mohan'}

In [142]:
import random

In [169]:
user = int(input('Guess a number: (1 to 4)'))

comp_choice = random.randint(1,4)

print('Your choice: ',user)
print('comp choice: ',comp_choice)

if user == comp_choice:
    print('you won!!')
else:
    print('You Lose!!')

Guess a number: (1 to 4)3
Your choice:  3
comp choice:  3
you won!!