In [1]:
a = (12,12,432,543,6)

print(a)

(12, 12, 432, 543, 6)

In [2]:
type(a)

tuple

In [3]:
a = 12,432,42,5346,546,57,43,5

print(a)

(12, 432, 42, 5346, 546, 57, 43, 5)

In [4]:
#1>> Tuple can contain multiple data types

a = (12,43,5,'Mohan',34.6,True,{'Name':'Ajay'},{1,124,325},
    None,[12,432,546],(1,324,43654,6))

print(a)

(12, 43, 5, 'Mohan', 34.6, True, {'Name': 'Ajay'}, {1, 124, 325}, None, [12, 432, 546], (1, 324, 43654, 6))

In [5]:
#2>> Tuple can be nested:- tuple inside tuple


a = (11,243,5,(1,24,35,(2,23,4534,5,(1,4,3256))))

print(a)

(11, 243, 5, (1, 24, 35, (2, 23, 4534, 5, (1, 4, 3256))))

In [6]:
# 3>> tuple also supports indexing and slicing

a = (12,43,4,67)

print(a[1])

43

In [8]:
s = (1,24,3454,342,434,64,53,546)


s[3:-1]

(342, 434, 64, 53)

In [9]:
# tuple does not support item assignment

a = (2,343,65,7)

a[3]

7

In [10]:
a[2] = 2345678

TypeError: 'tuple' object does not support item assignment

In [11]:
# TypeError: 'tuple' object does not support item assignment

In [13]:
# empty tuple

a = ()

print(a)
type(a)

()

tuple

In [14]:
# single element tuple

a = (7)

print(a)

7

In [15]:
print(type(a))

<class 'int'>

In [16]:
# single element tuple

a = (7,)

print(a)

(7,)

In [17]:
print(type(a))

<class 'tuple'>

In [18]:
# Basic operations

a = (1,24,36,7)
b = (2,35,4576,8)


print(a+b)

(1, 24, 36, 7, 2, 35, 4576, 8)

In [19]:
# Basic operations

a = (1,24,36,7)
b = (2,35,4576,8)


print(a*b)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [20]:
# Basic operations

a = (1,24,36,7)
b = (2,35,4576,8)


print(a*2)

(1, 24, 36, 7, 1, 24, 36, 7)

In [21]:
# tuple can be type casted to list and vice versa

a = (1,24,356,547)

a = list(a)

print(a)

[1, 24, 356, 547]

In [22]:
a = [1,24,356,547]

a = tuple(a)

print(a)

(1, 24, 356, 547)

In [23]:
# tuple methods

# ['count','index']

a = (12,31,3,123,12,312,21,3,31231,3,31,312,31,23,12)

a.count(12)

3

In [24]:
a.count(123456789)

0

In [25]:
a.index(31)

1

In [27]:
a.index(31,2)

10

In [28]:
# slice elements


a = (34,12,31,2,4234,(1,24,325,(2,23,54436,(3,23534,6))))



a

(34, 12, 31, 2, 4234, (1, 24, 325, (2, 23, 54436, (3, 23534, 6))))

In [33]:
a[5][3][2]

54436

# Dictionary

In [34]:
# # Mapping data type


# {'Key':'Element'}
# {'Key':'Value'}

# {'Key':'object'}

In [35]:
a = {'Name':'Mohan',
    'Age':23,
    'class':12,
    'Address':'Noida'}

In [36]:
a

{'Name': 'Mohan', 'Age': 23, 'class': 12, 'Address': 'Noida'}

In [37]:
import pandas as pd

In [39]:
pd.DataFrame(a,index=[1])

    Name  Age  class Address
1  Mohan   23     12   Noida

In [40]:
# Multiple values
a = {'Name':['Ajay','Vipin','Sandeep'],
    'Age':[23,25,20],
    'Salary':[31,40,21],
    'Address':['Noida','Delhi','Bihar']}

pd.DataFrame(a)

      Name  Age  Salary Address
0     Ajay   23      31   Noida
1    Vipin   25      40   Delhi
2  Sandeep   20      21   Bihar

In [41]:
# # Key position data types
# key:- tuple,int,str,frozenset,float,complex,bool
# value:- All

In [45]:
# tuple

a = {(12,323,5):[12,432,5346]}

print(a)
print(type(a))

{(12, 323, 5): [12, 432, 5346]}
<class 'dict'>

In [44]:
a  = {1:True}

print(a)
print(type(a))

{1: True}
<class 'dict'>

In [46]:
a  = {1.5:True}

print(a)
print(type(a))

{1.5: True}
<class 'dict'>

In [47]:
a  = {1-8j:True}

print(a)
print(type(a))

{(1-8j): True}
<class 'dict'>

In [48]:
a  = {'Age':True}

print(a)
print(type(a))

{'Age': True}
<class 'dict'>

In [49]:
a  = {frozenset((1,243,5)):True}

print(a)
print(type(a))

{frozenset({1, 243, 5}): True}
<class 'dict'>

In [50]:
a  = {True:True}

print(a)
print(type(a))

{True: True}
<class 'dict'>

In [52]:
a  = {1:True,
     2:(1,242,356),
     3:[1,243,6],
     4:{1,24,26},
     5:45.6,
     6:600,
     7:{'Name':'Age'},
     8:None,
     9:frozenset((1,23,4325)),
     10:45-8j}

print(a)
print(type(a))

{1: True, 2: (1, 242, 356), 3: [1, 243, 6], 4: {24, 1, 26}, 5: 45.6, 6: 600, 7: {'Name': 'Age'}, 8: None, 9: frozenset({1, 4325, 23}), 10: (45-8j)}
<class 'dict'>

In [53]:
# Empty dict

a = {}

print(a)
print(type(a))

{}
<class 'dict'>

In [54]:
# dictionary what are not allowed at key position

# key not allowed: dict,list,set

In [55]:
a = {{1,232,53}:True}

TypeError: unhashable type: 'set'

In [56]:
a = {[1,232,53]:True}

TypeError: unhashable type: 'list'

In [57]:
a = {{'Name':'Mohan'}:True}

TypeError: unhashable type: 'dict'

In [59]:
# >> dict does not store values/elemnts index wise
# we can not index or slice dict based on 0,1,2

In [60]:
# here we can index dict with the help of key

In [61]:
a = {'Name':'Ajay',
    'Age':34}

In [62]:
a

{'Name': 'Ajay', 'Age': 34}

In [63]:
a[0]

KeyError: 0

In [64]:
a

{'Name': 'Ajay', 'Age': 34}

In [65]:
a['Name']

'Ajay'

In [66]:
a['Age']

34

In [67]:
a = {1:[12,432,56],
    5:(12,432,46)}

print(a)

{1: [12, 432, 56], 5: (12, 432, 46)}

In [68]:
a[1]

[12, 432, 56]

In [70]:
a[5]

(12, 432, 46)

In [72]:
# with the help of key we can change value of dict
# that's why dictionary can also a muttable object

In [73]:
a = {'Name':'Ajay','Age':34}

a

{'Name': 'Ajay', 'Age': 34}

In [75]:
a['Name'] = 'Ajay Devgan'

In [76]:
a

{'Name': 'Ajay Devgan', 'Age': 34}

In [78]:
a['Age'] = 23

In [79]:
a

{'Name': 'Ajay Devgan', 'Age': 23}

In [80]:
a['Add']

KeyError: 'Add'

In [81]:
a['Add'] = 'Noida'

In [82]:
a

{'Name': 'Ajay Devgan', 'Age': 23, 'Add': 'Noida'}

In [83]:
a['Sec'] = 'B'

In [84]:
a

{'Name': 'Ajay Devgan', 'Age': 23, 'Add': 'Noida', 'Sec': 'B'}

In [86]:
a['Sec'] = 'C'

In [87]:
a

{'Name': 'Ajay Devgan', 'Age': 23, 'Add': 'Noida', 'Sec': 'C'}

In [89]:
a['sec'] = 'S'

In [90]:
a

{'Name': 'Ajay Devgan', 'Age': 23, 'Add': 'Noida', 'Sec': 'C', 'sec': 'S'}

In [95]:
# 
a = {'Name':'Mohan',
    'Age':34,
    'class':12,
    'Name':'Akshay',
    'Age':35,
    'Age':340}

In [96]:
a

{'Name': 'Akshay', 'Age': 340, 'class': 12}

In [97]:
a = {'Name':['Mohan','Ajay','karan'],
    'salary':[12,43,4312]}

a

{'Name': ['Mohan', 'Ajay', 'karan'], 'salary': [12, 43, 4312]}

In [99]:
a['Name'][1]

'Ajay'

In [100]:
a['Name'][1] = 'Ajay Devgan'

In [101]:
a

{'Name': ['Mohan', 'Ajay Devgan', 'karan'], 'salary': [12, 43, 4312]}

In [104]:
a['salary'][1] = 4200

In [105]:
a

{'Name': ['Mohan', 'Ajay Devgan', 'karan'], 'salary': [12, 4200, 4312]}

In [106]:
s = {'Course Name':['Python','Java','C','C++'],
    'Student Name':['Ajay','Anil','Ravi','Karan'],
    'Fees':[2345,3456,4566,6543],
    'Status':['yes','yes','no','yes']}

In [107]:
s

{'Course Name': ['Python', 'Java', 'C', 'C++'],
 'Student Name': ['Ajay', 'Anil', 'Ravi', 'Karan'],
 'Fees': [2345, 3456, 4566, 6543],
 'Status': ['yes', 'yes', 'no', 'yes']}

In [110]:
s['Student Name'].pop(2)

'Ravi'

In [111]:
s['Course Name'].pop(2)

'C'

In [112]:
s['Fees'].pop(2)

4566

In [113]:
s['Status'].pop(2)

'no'

In [114]:
s

{'Course Name': ['Python', 'Java', 'C++'],
 'Student Name': ['Ajay', 'Anil', 'Karan'],
 'Fees': [2345, 3456, 6543],
 'Status': ['yes', 'yes', 'yes']}

In [117]:
s['Status'][2] = 'No'

In [118]:
s

{'Course Name': ['Python', 'Java', 'C++'],
 'Student Name': ['Ajay', 'Anil', 'Karan'],
 'Fees': [2345, 3456, 6543],
 'Status': ['yes', 'yes', 'No']}

In [119]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [120]:
m = ['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [121]:
len(m)

11